nav {
  height: 35px;
  background-color:  rgb(160, 160, 221);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  background-color: greenyellow;
  border: 1px solid blue;
  padding: 8px 5px;
  border-radius: 5px;
}

.resturant-details {
  margin: 2px 0;
  padding: 2px;
  border: 1px solid black;
}

.details {
  padding: 0 5px;
}

.customer-details {
  margin: 2px 0;
  padding: 2px;
  border: 1px solid black;
}

.items {
  margin: 2px 0;
  padding: 2px;
  border: 1px solid black;
  max-width: 500px;
}

.item-list {
  padding: 0 5px;
}

.item,
.amount,
.tax,
.total {
  display: flex;
  margin-bottom: 10px;
}

/* .multiply {
  justify-items: center;
} */

.multiplied-total,
.amount-without-tax,
.tax-amount,
.amount-with-tax {
  margin-left: auto;
}

.item-name {
  margin-right: 10px;
}

.multiplier {
  margin-right: 10px;
  border: 1px solid black;
  background-color: blanchedalmond;
  border-radius: 3px;
}

.line {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}